:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
  color: white;
  background-image: url(images/bg-mobile.svg);
  background-repeat: no-repeat;

  background-size: cover;
  background-color: var(--violet);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
  padding: 2rem;
  max-width: 450px;
}

.logo-section {
  img {
    width: 40%;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1.5rem 1rem;
  }

  p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}

.illustration {
  width: 90%;
  margin: 3rem auto;
}

.register-button {
  font-size: 0.8rem;
  background-color: white;
  color: var(--violet);
  text-decoration: none;
  border-radius: 50px;
  padding: 0.7rem 5rem;
  margin: 1.5rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    background-color: var(--soft-magenta);
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in;
  }
}

.contact {
  margin: 3rem auto 1rem;
  ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(20px, 1fr));

    gap: 1rem;
    margin: 0 auto;
    max-width: 145px;
    li {
      list-style: none;
      border: solid 1px white;
      border-radius: 50%;
      padding: 0.5rem;
      text-align: center;

      i {
        color: white;
      }
    }
  }
}

.contact li:hover {
  border-color: var(--soft-magenta);
  cursor: pointer;
  i {
    color: var(--soft-magenta);
  }
  transition: all 0.3ms ease;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--soft-magenta);
}
@media screen and (min-width: 1080px) {
  body {
    background-image: url(images/bg-desktop.svg);
    // background-position: -10% -40%;
    background-size: cover;
  }
  main {
    max-width: 100%;
  }
  .logo-section {
    img {
      width: 20%;
    }
  }
  .main-content {
    flex-direction: row;
    gap: 5rem;
  }

  .illustration {
    width: 100%;
  }
  .right-container {
    text-align: left;

    h1 {
      font-size: 3rem;
      padding: 0;
      margin-top: 5rem;
    }

    p {
      font-size: 1.1rem;
      padding: 0;
      margin: 2rem 2rem 3rem 0;
    }
  }

  .register-button {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.5rem 5rem;
  }

  .contact {
    margin-top: 8rem;
    ul {
      margin: 0 5rem 0 auto;
      max-width: 170px;
      gap: 1rem;
      li {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}
